In [5]:
num1={1,2,3,4}
num2={2,2,2}
v=num1.intersection(num2)
print(list(v))

[2]

In [67]:
def var(r,units,arr):
    v=r*units
    result=0#save in the result
    for i in range(len(arr)):
        result=result+arr[i]
        if result>=v:
            return i+1
    #after steeling food also not sufficient
    if sum(arr) <result:
        return 0
    #is sufficient return house number
    return -1

In [68]:
var(13,2,[2,8,3,5,8])

5

In [69]:
var(7,2,[2,8,3,5,8])

4

In [70]:
var(7,2,[])#empty

-1

In [82]:
def factor(num):
    if num<=0:
        return 0
    result=[i for i in range(1,num+1) if num%i==0]
    return result

In [83]:
factor(34)

[1, 2, 17, 34]

In [90]:
class mystack:
    def __init__(self):
        self.st=[]
    def revers(self,mystr):
        result=''
        for i in mystr:
            self.st.append(i)
        for i in range(len(self.st)):
            poped=self.st.pop()
            result=result+poped
        return result

In [91]:
B=mystack()
B.revers("kill")

'llik'

In [105]:
def miss(arr):
    for i in range(1,len(arr)+1):
        if i not in arr:
            return i*"*"

In [109]:
miss([1,2,3,4,5,6,7,9])

'********'

In [119]:
ord("A")*26+1

1691

In [115]:
ord("B")-64

2

In [122]:
def col(name):
    result=0
    for i in name:
        result=result*26+ord(i)-64
    return result

In [123]:
col('AAA')

703

In [126]:
def atm(w,d,pin):
    print("welcome to canara bank")
    pin={"jwalitha kuma":4555,"sharth":7895}
    bal={"jwalitha kuma":4555,"sharth":7895}
    name=input("enter your name")
    pin=input("enter your pin:")
    if pins[name]!=pin:
        return "invalid pin"
    while True:
        choices="option 1:withdrwal\n option 2:deposit\n option 3:Quit\n option 4:balance enquiry\n option 5:offers on FD
        print(choices)
        choice=int(input("enter choice:"))
        if choices==1:
            print("wthdrwal")
            w=int(input("enter the withdrwal amount:"))
            b=bal[name]
            b=b-w
            bal[name]=b
            elif choice==2:
                print("deposit")
                
            elif choice==5:

SyntaxError: EOL while scanning string literal (3415484816.py, line 10)

In [127]:
def ATM(pin,amount):
    print("welcome to atm")
    pins={"shahi":"2344","dwani":"5645"}
    pin=input("enter pin")
    
    
    while True:
        
        option="1.withdrawal\n"+"2.deposit\n"+"3.balance"
        print(option)
        option=int(input("enter the option"))
        if option==1:
            amt=int(input("enter amount to withdraw"))
            withdrawal=amount-amt
            return withdrawal
            break
        elif option==2:
            amt=int(input("enter the amount to deposit"))
            deposit=amount+amt
            return deposit
            break
        elif option==3:
            return amount
            break
        else:
            print("invalid")
            break

In [125]:
ATM(100,13000)

welcome to atm
enter pin100
1.withdrawal
2.deposit
3.balance
enter the option1
enter amount to withdraw100

12900